<h1>Blog Posts</h1>
<%= link_to "New Blog Post", new_blog_post_path if authenticated? %>
<div id="posts">
  <% @blog_posts.each do |blog_post| %>
    <div>
      <%=link_to blog_post.title, blog_post_path(blog_post) %>
    </div>
  <% end %>
</div>
<%= debug @blog_posts %>
