<h1>Blog Posts</h1>
<%= link_to "New Blog Post", new_blog_post_path if authenticated? %>
<div id="posts">
  <% @blog_posts.each do |blog_post| %>
    <div>

      <%= link_to blog_post.title, blog_post_path(blog_post) %>
    </div>
    <% if blog_post.draft? %>
      <div class="p-2 rounded bg-gray-100 text-gray-900">
        Draft
      </div>
    <% end %>
    <% if blog_post.scheduled? %>
      <div class="p-2 rounded bg-blue-100 text-blue-900">
        Scheduled
      </div>
    <% end %>
    <%= blog_post.content %>

  <% end %>
</div>
<%= debug @blog_posts %>
